body {
    font-family: 'Neonderthaw', cursive;
    background:wheat;
}
.header_div {
    background:gray;
    color: lightgreen;
}
.header_div p{
    font-family: 'Courier New', Courier, monospace;
    color: silver;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;

}
.main_div button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color:black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:whitesmoke;
    line-height: 3;
    text-align: center;

}
#start5 {
    background-color: turquoise;
    color: white;
}
